# GENERAL
numpy
pandas
scipy
matplotlib
graphviz
toml

# GAME ENV
pyppeteer
gym-derk

# BIAI
inspyred

# NEAT
torch
click
gym
git+https://github.com/fedeizzo/bio-inspired-mutant-battlegrounds.git#subdirectory=python-neat

# RL
